{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=smth

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/java -jar /opt/sample/service.jar
User=DianaHiruk
Environment=PORT="8080"
Restart=always